body{
    background-image:url('https://cdn.gameleap.com/images/article_categories/art-cat_M4leQ_N-E5/1x.webp');
    background-size:cover;
    background-position:center;
    margin:0;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    display:grid;
    grid-template-rows:repeat(4,auto);
    gap:20px;
    width:500px;
    background-image:linear-gradient(to bottom, #00065c, #3f6ae1, #87a4f3);
    border-radius:15px;
    padding:40px;
    box-sizing:border-box;
    text-align:center;
}

.header{
    font-size:2.5rem;
    font-weight:bold;
    color: white;
    background-color: rgba(10, 1, 36, 0.8);
    padding:3px;
    border-radius:10px;
}

.input-group{
    display:grid;
    grid-template-columns:3fr 1fr;
    gap:10px;
    align-items:center;
}

#guessno{
    padding:12px;
    font-size:1.2rem;
    border: 1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
}

#checkbtn{
    padding:12px;
    font-size:18px;
    background-color: rgba(10, 1, 36, 0.7);
    color: white;
    border:none;
    border-radius:5px;
    cursor: pointer;
}

#result{
    color: #030329;
}

p{
    font-size: 25px;
    margin:0;
    padding:0;
    color: #fff8f8;
}

@media(max-width: 600px){
    .container{
        width:90%;
        padding:20px;
    }

    .input-group{
        grid-template-columns:1fr;
    }

    #checkbtn{
        width:100%;
    }
}
